/* Footer.css */
footer {
    background-color: #333;  /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centrar el texto */
    padding: 20px 0; /* Espaciado vertical */
    position: relative; /* Para el diseño del footer */
    bottom: 0; /* Asegura que se mantenga en la parte inferior */
    width: 100%; /* Ancho completo */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave en la parte superior */
  }
  
  footer p {
    margin: 0; /* Eliminar márgenes del párrafo */
    font-size: 1em; /* Tamaño de fuente */
  }
  